@import "tailwindcss";

@theme {
  --color-primary: #47AA57;
  --color-secondary: #F5E9DA;
  --color-accent: #EF3F30;
}

body {
  @apply bg-white text-slate-900 dark:bg-slate-900 dark:text-slate-100;
}
